---
source: https://adtu.in/exam/assets/files/guidelines-fo-documents-verification.pdf
title: guidelines-fo-documents-verification
kind: pdf
---

Assam down town University
OFFICE OF THE CONTROLLER OF EXAMINATIONS
Sankar-Madhab Path, Gandhi Nagar, Panikhaiti, Guwahati, Assam–781026
Guidelines for Qualification or Documents Verification
A) Online Verification:
Any stakeholder can verify the required qualification or documents of any student through
the DigiLocker-NAD, an initiative by Govt. of India for online verification.
Steps to verify at DigiLocker-NAD portal:
➢ Stakeholder has to register on API Setu Portal to become a verifier.
➢ Get consent from individuals online or offline to verify the awards.
➢ To verify fill in the details such as students Roll no, Year of Passing, Mobile no, etc.
➢ A requisite response will be given based upon the availability of the awards.
B) Offline or Manual Verification:
Following are the steps to verify manually or in offline mode:
➢ A verifier can directly reach the office of the controller of examinations through the
given mail id of the grievance cell (i.e. student.grievance@adtu.in) of the university
for qualification verification, where to provide us the scan copies of the grade-sheets
and pass certificate of the student.
➢ Competent authority shall respond to the mail providing the detail as per requirement.

-- 1 of 1 --
